.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    min-width: 100%;
    background-color: #000000;
    color: red;
}

.navbar button {
    font-size: large;
    background-color: #383838;
    color: white;
    font-weight: 500;
    box-shadow: 2px 2px 4px 4px rgba(255, 255, 255, 0.4)
}

.navbar button:hover {
    background-color: #ffffff;
    color: rgb(2, 2, 2);
}

.body {
    display: grid;
    grid-template-columns: 25% 75%;
    min-height: 90vh;
}

.left-side {
    min-height: 100%;
    background-color: #1b1818;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 500;
    list-style: none;
    padding: 0;
    margin: 0;
}

.left-side li {
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin: 10px 0;

    &:hover {
        color: black;
        background-color: #ffffff;
        cursor: pointer;

    }
}

.right-side {
    padding: 0;
    margin: 0;
}