.catering-image {
  text-align: center;
  position: relative;
  /* Set the desired height for the container */
  height: 300px;
  /* Set the desired width for the container */
  overflow: hidden;
}

.catering-image img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: brightness(0.6);
}

.catering-image .centered-heading {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.send-button-catering {
  display: flex;
  justify-content: flex-end;
}

.box .address {
  text-wrap: balance;
}

@media (max-width: 475px) {

  .box .address {
    font-size: 18px !important;

  }

}

.form-container {
  border: 1px solid #616161;
  /* Add your desired border color */
  background-color: #fff;
  /* Add your desired background color inside the border */
  padding: 20px;
  /* Adjust the padding as needed */
  border-radius: 10px;
  /* Optional: Add border-radius for rounded corners */
  width: 60vw;
}

@media (max-width: 768px) {
  .form-container {
    width: 90vw;
  }

  .catering-recaptcha {
    scale: 0.8;
  }
}

.box {
  margin-bottom: 100px;
}

.increase-decrease-button {
  border-color: rgb(213, 213, 213);
}

/* Add this to your CSS to remove the blue border on focus */
.form-container input:focus,
.form-container textarea:focus {
  outline: none;
  box-shadow: none;
}

.box .message {
  width: 100%;
}

.recap {
  margin-right: 0;
}