.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}


.defaultImage {
    width: 60vw;
    height: 60vh;
    object-fit: contain;
}

.adminComponent h2 {
    font-size: 2rem;
}

.adminComponent form {
    margin: 0;
}

.adminComponentForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.adminComponentForm input {
    width: 30vw;
    outline: none;
    border: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.adminComponentForm button {
    font-size: large;
    background-color: #383838;
    color: white;
    font-weight: 500;
    margin-top: 10px;

    &:hover {
        background-color: #ffffff;
        color: rgb(2, 2, 2);
    }
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    font-weight: 500;
}

.fbColor {
    color: #0496FF;
}

.instaColor {
    color: #EE4266;
}

.cloverColor {
    color: #36b30c;
}

.grubhubColor {
    color: orange;
}

.doordashColor {
    color: #ff4f2b;
}

.ubereatsColor {
    color: #06c167;
}

.postmateColor {
    color: #f3cf00;
}

.textBold {
    font-weight: 700;
}

.textLarge {
    font-size: large;
}

.bannerLine {
    text-align: center;
    background-color: red;
    color: #ffffff;
    font-weight: 500;
}

.timingInputs input {
    width: 15vw;
}

.uploadedImage {
    object-fit: cover;
    object-position: top;
    width: 20vw;
    height: 10vw;
}

.imageContainer {
    margin-bottom: 20px;
}

.separator {
    width: 50vw;
    height: 1px;
    background-color: #000000;
    margin: 20px 0;
}

.seqNo {
    text-align: center;
    font-weight: 500;
}