.contact-image {
  text-align: center;
  position: relative;
  /* Set the desired height for the container */
  height: 300px;
  /* Set the desired width for the container */
  overflow: hidden;

}

.contact-image img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: brightness(0.6);

}

.centered-heading {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.send-button-contact {
  display: flex;
  justify-content: center;
}

.contact-us-form .message{
width: 100%;
}

.border-end{
  text-wrap: wrap !important;
}

.address-details{
  display: flex;
  gap:10px
}
@media (max-width: 768px){
  
  .border-end{
    border-right: 0px !important;
  }

  .contact-us-form{
    margin-left: 0px !important;
    
  }

 .address{
  font-size: 26px !important;
  text-align: center;
  margin: 10px 10px !important;
 }

 .contact-address{
  margin-left: 0px !important;
  margin-left: 0px !important;
 }
 .contact-address .fs-5{
  font-size: 16px !important;
 }

 .contact-us-form .message {
  margin-left: auto;
}

.recaptcha{
  margin-right: 0;
  margin-left: 0;
}
.contact-recaptche{
  scale:0.8;
}
}